@charset "utf-8";

html{
color:#666;
}
body {
background:#eee url(img/bg_body.jpg) top center no-repeat;
font-family: "Noto Sans",sans-serif;
font-size:13px;
margin:0 auto;
}
img {
border-width:0
}
header {
background: #fff;
box-shadow: 0 0 2px #444;
display: block;
height: 85px;
position: fixed;
top: 0;
width: 100%;
}
section {
width:1000px;
margin:0 auto;
padding-top:75px;
}
nav {
position:absolute;
text-align:right;
right:0;
font-size:150%;
line-height:85px;
letter-spacing:-1px;
clear:both;
background:none;
}
nav a:link, nav a:visited{
color:#252525;
margin:0 5px 0 5px;
}
nav a:hover{
color:#888;
border-bottom:solid 1px #dd4512;
}
nav a:active {
color:#eee;
background:none;
}

input {
height:25px;
margin:5px 0px 5px 5px;
vertical-align:middle;
}

::-webkit-input-placeholder { 
color:#bbb; 
font-style:italic;
font-size:90%;
}
::-moz-placeholder { 
color:#bbb; 
font-style:italic;
font-size:90%;
} /* firefox 19+ */
:-ms-input-placeholder { 
color:#bbb; 
font-style:italic;
font-size:90%;
} /* ie */
input:-moz-placeholder { 
color:#bbb;
font-style:italic;
font-size:90%;
 }
input[type=submit] {
height:auto;
width:175px;
border:none;
background:#accc00;
font-size:150%;
font-weight:700;
vertical-align:bottom;
color:#fff;
margin-left:25px;
letter-spacing:-1px;
font-family: "Noto Sans", sans-serif;
text-shadow:#222 0 1px 1px;
box-shadow:#222 0 1px 2px;
padding:10px 20px;
 transition: all 0.1s ease-in-out;
/* -webkit- transition: all 0.1s ease-in-out;
 -moz- transition: all 0.1s ease-in-out;
 transition: all 0.1s ease-in-out;*/
}
input[type=submit]:hover, input[type=submit].hover {
background:#207eb9;
}

label {
font-size:110%;
letter-spacing:-1px;
font-weight:700;
display:block;
line-height:10px;
}

ul {
display:inline-block;
margin:5px;
}

li{
clear:both;
list-style-type:none;
margin:5px;
}

a {
text-decoration:none;
outline:0;
}
a:link,a:visited {
color:#FF5F25;
}
a:active, a:focus {
color:#FF5F25;
}
a:hover {
color:#77C2EA;
}
p {
padding:5px;
margin:0 10px;
}
small {
font-weight:bold;
}
h1, h2, h3, h4, h5, h6 {
color:#aaa;
margin:auto 10px;
line-height:1.3;
vertical-align:center;
}
h1, h2, h3 {
font-weight:400;
}
h1 {
font-size:350%;
letter-spacing:-2px;
}
h2{
font-size:300%;
letter-spacing:-1px;
}
h3 {
letter-spacing:-1px;
font-size:250%;
}
h4 {
letter-spacing:-1px;
font-size:200%;
font-weight:400;
}
h5 {
font-size:150%;
letter-spacing:-1px;
font-weight:400;
}
h6 {
font-size:125%;
letter-spacing:-1px;
font-weight:400;
}

/*-------------------BUTTON-------------*/
button {
font-family: "Noto Sans", sans-serif;
text-shadow:#222 0 1px 1px;
box-shadow:#222 0 1px 2px;
background:#dd4512;
padding:10px 20px;
margin:20px;
border:none;
 transition: all 0.1s ease-in-out;
/* -webkit- transition: all 0.1s ease-in-out;
 -moz- transition: all 0.1s ease-in-out;
 transition: all 0.1s ease-in-out;*/
}
button:hover, button.hover {
background:#207eb9;
}
button a:link, button a:visited{
color:#fff;
font-size:125%;
font-weight:400;
letter-spacing:-1px;
}
footer {
height:75px;
margin:10px auto;
width:1000px;
color:#ccc;
vertical-align:bottom;
}
.main {
background:#f3f3f3 url(img/bg_main.jpg) top center no-repeat;
}
.clr{
clear: both;
}
.white {
	color:#fff;
	width:66%;
	text-shadow:#333 0 1px 1px;
}
.orange {
	color:#dd4512;
}
.floatleft {
float:left;
}
.floatright {
float:right;
}
.center {
text-align:center;
vertical-align:middle;
}

.inline {
display:inline-block;
}

.inline label {
display:inline-block;
}

.inner {
padding-top:100px;
vertical-align:center;
}
.shadow{
	box-shadow:#222 0 1px 2px;
}

.container {
width:1000px;
border:none;
margin:0 auto;
clear:both;
position:relative;
}
.hero {
margin:100px auto 0 auto;
width:1000px;
padding:25px;
vertical-align:center;
}
.hero h1, .hero h2, .hero h3, .hero h4 {
color:#fff;
text-shadow:2px 2px 2px #333 ;
}
.hero h1 {
line-height:1;
}
.hero h5{
color:#eee;
}
.cta{
background:#accc00;
margin:30px 10px;
}
.cta a:link, .cta a:visited{
font-size:150%;
font-weight:700;
color:#fff;
letter-spacing:-1px;
}

.servimg {
background:#fff;
width:175px;
height:175px;
border:10px solid #dd4512;
border-radius:50%;
margin-left:-15px;
margin-top:-30px;
box-shadow:#111 0px 1px 4px;
}

.border {
border-top:1px #ddd solid;
margin-bottom:10px;
margin-top:10px;
opacity:75%;
}
.centered {
margin:0 auto;
}
 
/*-------------------COLUMNS-------------*/
.column_third {
/*background:#fff;*/
width:33%;
display:inline;
text-align:center;
/*box-shadow: 0 1px 2px #555;*/
}
.column_twothird {
background:#fff;
width:62%;
display:inline-block;
box-shadow: 0 1px 2px #555;
vertical-align:top;
}
.column_half {
margin:20px auto;
width:49%;
display:inline-block;
}
.column_1qtr {
width:20%;
display:inline-block;
}
.column_3qtr {
background:url(img/bg_white.png);
width:73%;
display:inline-block;
box-shadow: 0 1px 2px #555;
vertical-align:top;
padding:20px;
margin-left:20px;
}

.column_third_left {
display:inline-block;
vertical-align:top;
padding:5px 15px 10px 20px;
}

.column_third_left input {
width:200px;
height:30px;
margin:5px 0;
border:solid 1px #bbb;
}